.pixel {
    height: 60px;
    width: 60px;
    color: #aaa;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 58px;
    font-size: 30px;
}

.board {
    width: 186px;
    height: 186px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
}